@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Lexend Deca', ui-sans-serif, system-ui, sans-serif;
    
    /* Warna brand khusus Inna Kos untuk notifikasi */
    --color-brand-50: #f0f4ff;
    --color-brand-100: #e0e9fe;
    --color-brand-500: #165DFF;
    --color-brand-600: #0E4BD9;
}